### Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the python programming language.
It provides highly optimized performance with back-end and source code is purely written in C or Python.

1D series: 1D labeled homogenously-typed array

2D DataFrame: general 2D labeled size-mutable tabular structure with potentially heterogenously-typed column

In [2]:
import pandas as pd
import numpy as np

In [3]:
l=list('ABCDE')
l

['A', 'B', 'C', 'D', 'E']

In [5]:
s=pd.Series(l)
s
#only the list items here are data and the output is 1-dimensional.
#the first column is index values
#also string data type is not there in pandas, it is called object.

0    A
1    B
2    C
3    D
4    E
dtype: object

In [46]:
s1=pd.Series(l, index=[34,2,'A',34,12])
s1
#multiple data values can have the same index values
#no. of index values should be same as no.of data values

34    A
2     B
A     C
34    D
12    E
dtype: object

In [8]:
s1[34]

34    A
34    D
dtype: object

In [49]:
s1[12]

'E'

In [47]:
s1.34

SyntaxError: invalid syntax (436401596.py, line 1)

In [48]:
s1.A  #if index is in string format this is also one way to access them

'C'

In [51]:
s1['A']

'C'

In [10]:
l2= [list('ABCD'),[23,90,5,12]]
l2

[['A', 'B', 'C', 'D'], [23, 90, 5, 12]]

In [11]:
df=pd.DataFrame(l2)
df
#here columns 0-3 have object data type for both the string and numeral rows

    0   1  2   3
0   A   B  C   D
1  23  90  5  12

In [12]:
l3 = [['A',23],
      ['B',90],
      ['C',5],
      ['D',12]]
l3

[['A', 23], ['B', 90], ['C', 5], ['D', 12]]

In [16]:
df3= pd.DataFrame(l3)
df3
#here column 0 has object datatype whereas column 1 has integer datatype

   0   1
0  A  23
1  B  90
2  C   5
3  D  12

In [21]:
df3.dtypes

0    object
1     int64
dtype: object

In [24]:
pd.DataFrame(l3, columns=['Name', 'Rank'], index=['#1', '#2', '#3', '#4'])

   Name  Rank
#1    A    23
#2    B    90
#3    C     5
#4    D    12

In [25]:
d={'Name': list('ABCD'), 'Rank': [23,90,5,12]}
d

{'Name': ['A', 'B', 'C', 'D'], 'Rank': [23, 90, 5, 12]}

In [26]:
dfd = pd.DataFrame(d)  #keys of dictionary becomes column names
dfd

  Name  Rank
0    A    23
1    B    90
2    C     5
3    D    12

In [27]:
d1={'Name': list('ABCD'), 'Rank': [23,90,5]}
dfd1 = pd.DataFrame(d1)  
dfd1
#ValueError: All arrays must be of the same length
#use np.NaN to print NaN there or print 'None' or anything to make array 
#lengths equal.

ValueError: All arrays must be of the same length

In [28]:
#but same thing in list
l3 = [['A',23],
      ['B',90],
      ['C'],
      ['D',12]]
df3= pd.DataFrame(l3)
df3
#prints NaN there instead of throwing error
#also NaN:Not a Number is a floating point number therefore all elements in
#column are converted to float values

   0     1
0  A  23.0
1  B  90.0
2  C   NaN
3  D  12.0

In [30]:
d1=[{'Name': 'A', 'Rank': 23},
    {'Name': 'B', 'Rank': 90},
    {'Name': 'C', 'Rank': 5, 'City': 'Delhi'},
    {'Name': 'D', 'Rank': 12}]
pd.DataFrame(d1)
#hence dictionary in a list works even for not given values

  Name  Rank   City
0    A    23    NaN
1    B    90    NaN
2    C     5  Delhi
3    D    12    NaN

In [ ]:
#csv files-> COMMA SEPARATED VALUES
#advantage of these are that we can open them in notepad excel etc. 
#The changes made in excel such as cell size, font size, font colour, etc 
#do not show in other apps we open csv files therefore file sizes are 
#lighter than in excel format. Heavier the size, more processing it will
#take. Also, csv files can be opened in many places like google browser 
#on your phones etc.

In [31]:
nba = pd.read_csv('nba.csv')
nba  #shows only ten rows; first 5 and last 5 and total number of rows 
#and columns

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [33]:
pd.set_option('display.max_rows', None) #we can see the entire data now.

In [34]:
nba = pd.read_csv('nba.csv')
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
30,Arron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
31,Lou Amundson,New York Knicks,17.0,PF,33.0,6-9,220.0,UNLV,1635476.0
32,Thanasis Antetokounmpo,New York Knicks,43.0,SF,23.0,6-7,205.0,NaN,30888.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
34,Jose Calderon,New York Knicks,3.0,PG,34.0,6-3,200.0,NaN,7402812.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
36,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0
37,Jerian Grant,New York Knicks,13.0,PG,23.0,6-4,195.0,Notre Dame,1572360.0
38,Robin Lopez,New York Knicks,8.0,C,28.0,7-0,255.0,Stanford,12650000.0
39,Kyle O'Quinn,New York Knicks,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0
40,Kristaps Porzingis,New York Knicks,6.0,PF,20.0,7-3,240.0,NaN,4131720.0
41,Kevin Seraphin,New York Knicks,1.0,C,26.0,6-10,278.0,NaN,2814000.0
42,Lance Thomas,New York Knicks,42.0,SF,28.0,6-8,235.0,Duke,1636842.0
43,Sasha Vujacic,New York Knicks,18.0,SG,32.0,6-7,195.0,NaN,947276.0
44,Derrick Williams,New York Knicks,23.0,PF,25.0,6-8,240.0,Arizona,4000000.0
45,Tony Wroten,New York Knicks,5.0,SG,23.0,6-6,205.0,Washington,167406.0
46,Elton Brand,Philadelphia 76ers,42.0,PF,37.0,6-9,254.0,Duke,NaN
47,Isaiah Canaan,Philadelphia 76ers,0.0,PG,25.0,6-0,201.0,Murray State,947276.0
48,Robert Covington,Philadelphia 76ers,33.0,SF,25.0,6-9,215.0,Tennessee State,1000000.0
49,Joel Embiid,Philadelphia 76ers,21.0,C,22.0,7-0,250.0,Kansas,4626960.0
50,Jerami Grant,Philadelphia 76ers,39.0,SF,22.0,6-8,210.0,Syracuse,845059.0
51,Richaun Holmes,Philadelphia 76ers,22.0,PF,22.0,6-10,245.0,Bowling Green,1074169.0
52,Carl Landry,Philadelphia 76ers,7.0,PF,32.0,6-9,248.0,Purdue,6500000.0
53,Kendall Marshall,Philadelphia 76ers,5.0,PG,24.0,6-4,200.0,North Carolina,2144772.0
54,T.J. McConnell,Philadelphia 76ers,12.0,PG,24.0,6-2,200.0,Arizona,525093.0
55,Nerlens Noel,Philadelphia 76ers,4.0,PF,22.0,6-11,228.0,Kentucky,3457800.0
56,Jahlil Okafor,Philadelphia 76ers,8.0,C,20.0,6-11,275.0,Duke,4582680.0
57,Ish Smith,Philadelphia 76ers,1.0,PG,27.0,6-0,175.0,Wake Forest,947276.0
58,Nik Stauskas,Philadelphia 76ers,11.0,SG,22.0,6-6,205.0,Michigan,2869440.0
59,Hollis Thompson,Philadelphia 76ers,31.0,SG,25.0,6-8,206.0,Georgetown,947276.0
60,Christian Wood,Philadelphia 76ers,35.0,PF,20.0,6-11,220.0,UNLV,525093.0
61,Bismack Biyombo,Toronto Raptors,8.0,C,23.0,6-9,245.0,NaN,2814000.0
62,Bruno Caboclo,Toronto Raptors,20.0,SF,20.0,6-9,205.0,NaN,1524000.0
63,DeMarre Carroll,Toronto Raptors,5.0,SF,29.0,6-8,212.0,Missouri,13600000.0
64,DeMar DeRozan,Toronto Raptors,10.0,SG,26.0,6-7,220.0,USC,10050000.0
65,James Johnson,Toronto Raptors,3.0,PF,29.0,6-9,250.0,Wake Forest,2500000.0
66,Cory Joseph,Toronto Raptors,6.0,PG,24.0,6-3,190.0,Texas,7000000.0
67,Kyle Lowry,Toronto Raptors,7.0,PG,30.0,6-0,205.0,Villanova,12000000.0
68,Lucas Nogueira,Toronto Raptors,92.0,C,23.0,7-0,220.0,NaN,1842000.0
69,Patrick Patterson,Toronto Raptors,54.0,PF,27.0,6-9,235.0,Kentucky,6268675.0
70,Norman Powell,Toronto Raptors,24.0,SG,23.0,6-4,215.0,UCLA,650000.0
71,Terrence Ross,Toronto Raptors,31.0,SF,25.0,6-7,195.0,Washington,3553917.0
72,Luis Scola,Toronto Raptors,4.0,PF,36.0,6-9,240.0,NaN,2900000.0
73,Jason Thompson,Toronto Raptors,1.0,PF,29.0,6-11,250.0,Rider,245177.0
74,Jonas Valanciunas,Toronto Raptors,17.0,C,24.0,7-0,255.0,NaN,4660482.0
75,Delon Wright,Toronto Raptors,55.0,PG,24.0,6-5,190.0,Utah,1509360.0
76,Leandro Barbosa,Golden State Warriors,19.0,SG,33.0,6-3,194.0,NaN,2500000.0
77,Harrison Barnes,Golden State Warriors,40.0,SF,24.0,6-8,225.0,North Carolina,3873398.0
78,Andrew Bogut,Golden State Warriors,12.0,C,31.0,7-0,260.0,Utah,13800000.0
79,Ian Clark,Golden State Warriors,21.0,SG,25.0,6-3,175.0,Belmont,947276.0
80,Stephen Curry,Golden State Warriors,30.0,PG,28.0,6-3,190.0,Davidson,11370786.0
81,Festus Ezeli,Golden State Warriors,31.0,C,26.0,6-11,265.0,Vanderbilt,2008748.0
82,Draymond Green,Golden State Warriors,23.0,PF,26.0,6-7,230.0,Michigan State,14260870.0
83,Andre Iguodala,Golden State Warriors,9.0,SF,32.0,6-6,215.0,Arizona,11710456.0
84,Shaun Livingston,Golden State Warriors,34.0,PG,30.0,6-7,192.0,NaN,5543725.0
85,Kevon Looney,Golden State Warriors,36.0,SF,20.0,6-9,220.0,UCLA,1131960.0
86,James Michael McAdoo,Golden State Warriors,20.0,SF,23.0,6-9,240.0,North Carolina,845059.0
87,Brandon Rush,Golden State Warriors,4.0,SF,30.0,6-6,220.0,Kansas,1270964.0
88,Marreese Speights,Golden State Warriors,5.0,C,28.0,6-10,255.0,Florida,3815000.0
89,Klay Thompson,Golden State Warriors,11.0,SG,26.0,6-7,215.0,Washington State,15501000.0
90,Anderson Varejao,Golden State Warriors,18.0,PF,33.0,6-11,273.0,NaN,289755.0
91,Cole Aldrich,Los Angeles Clippers,45.0,C,27.0,6-11,250.0,Kansas,1100602.0
92,Jeff Ayres,Los Angeles Clippers,19.0,PF,29.0,6-9,250.0,Arizona State,111444.0
93,Jamal Crawford,Los Angeles Clippers,11.0,SG,36.0,6-5,195.0,Michigan,5675000.0
94,Branden Dawson,Los Angeles Clippers,22.0,SF,23.0,6-6,225.0,Michigan State,525093.0
95,Jeff Green,Los Angeles Clippers,8.0,SF,29.0,6-9,235.0,Georgetown,9650000.0
96,Blake Griffin,Los Angeles Clippers,32.0,PF,27.0,6-10,251.0,Oklahoma,18907726.0
97,Wesley Johnson,Los Angeles Clippers,33.0,SF,28.0,6-7,215.0,Syracuse,1100602.0
98,DeAndre Jordan,Los Angeles Clippers,6.0,C,27.0,6-11,265.0,Texas A&M,19689000.0
99,Luc Richard Mbah a Moute,Los Angeles Clippers,12.0,PF,29.0,6-8,230.0,UCLA,947276.0
100,Chris Paul,Los Angeles Clippers,3.0,PG,31.0,6-0,175.0,Wake Forest,21468695.0
101,Paul Pierce,Los Angeles Clippers,34.0,SF,38.0,6-7,235.0,Kansas,3376000.0
102,Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,947726.0
103,JJ Redick,Los Angeles Clippers,4.0,SG,31.0,6-4,190.0,Duke,7085000.0
104,Austin Rivers,Los Angeles Clippers,25.0,PG,23.0,6-4,200.0,Duke,3110796.0
105,C.J. Wilcox,Los Angeles Clippers,30.0,SG,25.0,6-5,195.0,Washington,1159680.0
106,Brandon Bass,Los Angeles Lakers,2.0,PF,31.0,6-8,250.0,LSU,3000000.0
107,Tarik Black,Los Angeles Lakers,28.0,C,24.0,6-9,250.0,Kansas,845059.0
108,Anthony Brown,Los Angeles Lakers,3.0,SF,23.0,6-7,210.0,Stanford,700000.0
109,Kobe Bryant,Los Angeles Lakers,24.0,SF,37.0,6-6,212.0,NaN,25000000.0
110,Jordan Clarkson,Los Angeles Lakers,6.0,PG,24.0,6-5,194.0,Missouri,845059.0
111,Roy Hibbert,Los Angeles Lakers,17.0,C,29.0,7-2,270.0,Georgetown,15592217.0
112,Marcelo Huertas,Los Angeles Lakers,9.0,PG,33.0,6-3,200.0,NaN,525093.0
113,Ryan Kelly,Los Angeles Lakers,4.0,PF,25.0,6-11,230.0,Duke,1724250.0
114,Larry Nance Jr.,Los Angeles Lakers,7.0,PF,23.0,6-9,230.0,Wyoming,1155600.0
115,Julius Randle,Los Angeles Lakers,30.0,PF,21.0,6-9,250.0,Kentucky,3132240.0
116,D'Angelo Russell,Los Angeles Lakers,1.0,PG,20.0,6-5,195.0,Ohio State,5103120.0
117,Robert Sacre,Los Angeles Lakers,50.0,C,27.0,7-0,270.0,Gonzaga,981348.0
118,Louis Williams,Los Angeles Lakers,23.0,SG,29.0,6-1,175.0,NaN,7000000.0
119,Metta World Peace,Los Angeles Lakers,37.0,SF,36.0,6-7,260.0,St. John's,947276.0
120,Nick Young,Los Angeles Lakers,0.0,SF,31.0,6-7,210.0,USC,5219169.0
121,Eric Bledsoe,Phoenix Suns,2.0,PG,26.0,6-1,190.0,Kentucky,13500000.0
122,Devin Booker,Phoenix Suns,1.0,SG,19.0,6-6,206.0,Kentucky,2127840.0
123,Chase Budinger,Phoenix Suns,10.0,SF,28.0,6-7,209.0,Arizona,206192.0
124,Tyson Chandler,Phoenix Suns,4.0,C,33.0,7-1,240.0,NaN,13000000.0
125,Archie Goodwin,Phoenix Suns,20.0,SG,21.0,6-5,200.0,Kentucky,1160160.0
126,John Jenkins,Phoenix Suns,23.0,SG,25.0,6-4,215.0,Vanderbilt,981348.0
127,Brandon Knight,Phoenix Suns,3.0,PG,24.0,6-3,189.0,Kentucky,13500000.0
128,Alex Len,Phoenix Suns,21.0,C,22.0,7-1,260.0,Maryland,3807120.0
129,Jon Leuer,Phoenix Suns,30.0,PF,27.0,6-10,228.0,Wisconsin,1035000.0
130,Phil Pressey,Phoenix Suns,25.0,PG,25.0,5-11,175.0,Missouri,55722.0
131,Ronnie Price,Phoenix Suns,14.0,PG,32.0,6-2,190.0,Utah Valley,947276.0
132,Mirza Teletovic,Phoenix Suns,35.0,PF,30.0,6-9,242.0,NaN,5500000.0
133,P.J. Tucker,Phoenix Suns,17.0,SF,31.0,6-6,245.0,Texas,5500000.0
134,T.J. Warren,Phoenix Suns,12.0,SF,22.0,6-8,230.0,North Carolina State,2041080.0
135,Alan Williams,Phoenix Suns,15.0,C,23.0,6-8,260.0,UC Santa Barbara,83397.0
136,Quincy Acy,Sacramento Kings,13.0,SF,25.0,6-7,240.0,Baylor,981348.0
137,James Anderson,Sacramento Kings,5.0,SG,27.0,6-6,213.0,Oklahoma State,1015421.0
138,Marco Belinelli,Sacramento Kings,3.0,SG,30.0,6-5,210.0,NaN,6060606.0
139,Caron Butler,Sacramento Kings,31.0,SF,36.0,6-7,228.0,Connecticut,1449187.0
140,Omri Casspi,Sacramento Kings,18.0,SF,27.0,6-9,225.0,NaN,2836186.0
141,Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0
142,Darren Collison,Sacramento Kings,7.0,PG,28.0,6-0,175.0,UCLA,5013559.0
143,DeMarcus Cousins,Sacramento Kings,15.0,C,25.0,6-11,270.0,Kentucky,15851950.0
144,Seth Curry,Sacramento Kings,30.0,SG,25.0,6-2,185.0,Duke,947276.0
145,Duje Dukan,Sacramento Kings,26.0,PF,24.0,6-9,220.0,Wisconsin,525093.0
146,Rudy Gay,Sacramento Kings,8.0,SF,29.0,6-8,230.0,Connecticut,12403101.0
147,Kosta Koufos,Sacramento Kings,41.0,C,27.0,7-0,265.0,Ohio State,7700000.0
148,Ben McLemore,Sacramento Kings,23.0,SG,23.0,6-5,195.0,Kansas,3156600.0
149,Eric Moreland,Sacramento Kings,25.0,PF,24.0,6-10,238.0,Oregon State,845059.0
150,Rajon Rondo,Sacramento Kings,9.0,PG,30.0,6-1,186.0,Kentucky,9500000.0
151,Cameron Bairstow,Chicago Bulls,41.0,PF,25.0,6-9,250.0,New Mexico,845059.0
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
153,Jimmy Butler,Chicago Bulls,21.0,SG,26.0,6-7,220.0,Marquette,16407500.0
154,Mike Dunleavy,Chicago Bulls,34.0,SG,35.0,6-9,230.0,Duke,4500000.0
155,Cristiano Felicio,Chicago Bulls,6.0,PF,23.0,6-10,275.0,NaN,525093.0
156,Pau Gasol,Chicago Bulls,16.0,C,35.0,7-0,250.0,NaN,7448760.0
157,Taj Gibson,Chicago Bulls,22.0,PF,30.0,6-9,225.0,USC,8500000.0
158,Justin Holiday,Chicago Bulls,7.0,SG,27.0,6-6,185.0,Washington,947276.0
159,Doug McDermott,Chicago Bulls,3.0,SF,24.0,6-8,225.0,Creighton,2380440.0
160,Nikola Mirotic,Chicago Bulls,44.0,PF,25.0,6-10,220.0,NaN,5543725.0
161,E'Twaun Moore,Chicago Bulls,55.0,SG,27.0,6-4,191.0,Purdue,1015421.0
162,Joakim Noah,Chicago Bulls,13.0,C,31.0,6-11,232.0,Florida,13400000.0
163,Bobby Portis,Chicago Bulls,5.0,PF,21.0,6-11,230.0,Arkansas,1391160.0
164,Derrick Rose,Chicago Bulls,1.0,PG,27.0,6-3,190.0,Memphis,20093064.0
165,Tony Snell,Chicago Bulls,20.0,SF,24.0,6-7,200.0,New Mexico,1535880.0
166,Matthew Dellavedova,Cleveland Cavaliers,8.0,PG,25.0,6-4,198.0,Saint Mary's,1147276.0
167,Channing Frye,Cleveland Cavaliers,9.0,PF,33.0,6-11,255.0,Arizona,8193029.0
168,Kyrie Irving,Cleveland Cavaliers,2.0,PG,24.0,6-3,193.0,Duke,16407501.0
169,LeBron James,Cleveland Cavaliers,23.0,SF,31.0,6-8,250.0,NaN,22970500.0
170,Richard Jefferson,Cleveland Cavaliers,24.0,SF,35.0,6-7,233.0,Arizona,947276.0
171,Dahntay Jones,Cleveland Cavaliers,30.0,SG,35.0,6-6,225.0,Duke,NaN
172,James Jones,Cleveland Cavaliers,1.0,SG,35.0,6-8,218.0,Miami (FL),947276.0
173,Sasha Kaun,Cleveland Cavaliers,14.0,C,31.0,6-11,260.0,Kansas,1276000.0
174,Kevin Love,Cleveland Cavaliers,0.0,PF,27.0,6-10,251.0,UCLA,19689000.0
175,Jordan McRae,Cleveland Cavaliers,12.0,SG,25.0,6-5,179.0,Tennessee,111196.0
176,Timofey Mozgov,Cleveland Cavaliers,20.0,C,29.0,7-1,275.0,NaN,4950000.0
177,Iman Shumpert,Cleveland Cavaliers,4.0,SG,25.0,6-5,220.0,Georgia Tech,8988765.0
178,J.R. Smith,Cleveland Cavaliers,5.0,SG,30.0,6-6,225.0,NaN,5000000.0
179,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,6-9,238.0,Texas,14260870.0
180,Mo Williams,Cleveland Cavaliers,52.0,PG,33.0,6-1,198.0,Alabama,2100000.0
181,Joel Anthony,Detroit Pistons,50.0,C,33.0,6-9,245.0,UNLV,2500000.0
182,Aron Baynes,Detroit Pistons,12.0,C,29.0,6-10,260.0,Washington State,6500000.0
183,Steve Blake,Detroit Pistons,22.0,PG,36.0,6-3,172.0,Maryland,2170465.0
184,Lorenzo Brown,Detroit Pistons,17.0,PG,25.0,6-5,189.0,North Carolina State,111444.0
185,Reggie Bullock,Detroit Pistons,25.0,SF,25.0,6-7,205.0,North Carolina,1252440.0
186,Kentavious Caldwell-Pope,Detroit Pistons,5.0,SG,23.0,6-5,205.0,Georgia,2891760.0
187,Spencer Dinwiddie,Detroit Pistons,8.0,PG,23.0,6-6,200.0,Colorado,845059.0
188,Andre Drummond,Detroit Pistons,0.0,C,22.0,6-11,279.0,Connecticut,3272091.0
189,Tobias Harris,Detroit Pistons,34.0,SF,23.0,6-9,235.0,Tennessee,16000000.0
190,Darrun Hilliard,Detroit Pistons,6.0,SF,23.0,6-6,205.0,Villanova,600000.0
191,Reggie Jackson,Detroit Pistons,1.0,PG,26.0,6-3,208.0,Boston College,13913044.0
192,Stanley Johnson,Detroit Pistons,3.0,SF,20.0,6-7,245.0,Arizona,2841960.0
193,Jodie Meeks,Detroit Pistons,20.0,SG,28.0,6-4,210.0,Kentucky,6270000.0
194,Marcus Morris,Detroit Pistons,13.0,PF,26.0,6-9,235.0,Kansas,5000000.0
195,Anthony Tolliver,Detroit Pistons,43.0,PF,31.0,6-8,240.0,Creighton,3000000.0
196,Lavoy Allen,Indiana Pacers,5.0,PF,27.0,6-9,255.0,Temple,4050000.0
197,Rakeem Christmas,Indiana Pacers,25.0,PF,24.0,6-9,250.0,Syracuse,1007026.0
198,Monta Ellis,Indiana Pacers,11.0,SG,30.0,6-3,185.0,NaN,10300000.0
199,Paul George,Indiana Pacers,13.0,SF,26.0,6-9,220.0,Fresno State,17120106.0
200,George Hill,Indiana Pacers,3.0,PG,30.0,6-3,188.0,IUPUI,8000000.0
201,Jordan Hill,Indiana Pacers,27.0,C,28.0,6-10,235.0,Arizona,4000000.0
202,Solomon Hill,Indiana Pacers,44.0,SF,25.0,6-7,225.0,Arizona,1358880.0
203,Ty Lawson,Indiana Pacers,10.0,PG,28.0,5-11,195.0,North Carolina,211744.0
204,Ian Mahinmi,Indiana Pacers,28.0,C,29.0,6-11,250.0,NaN,4000000.0
205,C.J. Miles,Indiana Pacers,0.0,SF,29.0,6-6,231.0,NaN,4394225.0
206,Glenn Robinson III,Indiana Pacers,40.0,SG,22.0,6-7,222.0,Michigan,1100000.0
207,Rodney Stuckey,Indiana Pacers,2.0,PG,30.0,6-5,205.0,Eastern Washington,7000000.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,6-11,243.0,Texas,2357760.0
209,Shayne Whittington,Indiana Pacers,42.0,PF,25.0,6-11,250.0,Western Michigan,845059.0
210,Joe Young,Indiana Pacers,1.0,PG,23.0,6-2,180.0,Oregon,1007026.0
211,Giannis Antetokounmpo,Milwaukee Bucks,34.0,SF,21.0,6-11,222.0,NaN,1953960.0
212,Jerryd Bayless,Milwaukee Bucks,19.0,PG,27.0,6-3,200.0,Arizona,3000000.0
213,Michael Carter-Williams,Milwaukee Bucks,5.0,PG,24.0,6-6,190.0,Syracuse,2399040.0
214,Jared Cunningham,Milwaukee Bucks,9.0,SG,25.0,6-4,195.0,Oregon State,947276.0
215,Tyler Ennis,Milwaukee Bucks,11.0,PG,21.0,6-3,194.0,Syracuse,1662360.0
216,John Henson,Milwaukee Bucks,31.0,PF,25.0,6-11,229.0,North Carolina,2943221.0
217,Damien Inglis,Milwaukee Bucks,17.0,SF,21.0,6-8,246.0,NaN,855000.0
218,O.J. Mayo,Milwaukee Bucks,3.0,SG,28.0,6-5,210.0,USC,8000000.0
219,Khris Middleton,Milwaukee Bucks,22.0,SG,24.0,6-8,234.0,Texas A&M,14700000.0
220,Greg Monroe,Milwaukee Bucks,15.0,C,26.0,6-11,265.0,Georgetown,16407500.0
221,Steve Novak,Milwaukee Bucks,6.0,SF,32.0,6-10,225.0,Marquette,295327.0
222,Johnny O'Bryant III,Milwaukee Bucks,77.0,PF,23.0,6-9,257.0,LSU,845059.0
223,Jabari Parker,Milwaukee Bucks,12.0,PF,21.0,6-8,250.0,Duke,5152440.0
224,Miles Plumlee,Milwaukee Bucks,18.0,C,27.0,6-11,249.0,Duke,2109294.0
225,Greivis Vasquez,Milwaukee Bucks,21.0,PG,29.0,6-6,217.0,Maryland,6600000.0
226,Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,6-6,202.0,UNLV,1733040.0
227,Justin Anderson,Dallas Mavericks,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0
228,J.J. Barea,Dallas Mavericks,5.0,PG,31.0,6-0,185.0,Northeastern,4290000.0
229,Jeremy Evans,Dallas Mavericks,21.0,SF,28.0,6-9,200.0,Western Kentucky,1100602.0
230,Raymond Felton,Dallas Mavericks,2.0,PG,31.0,6-1,205.0,North Carolina,3950313.0
231,Devin Harris,Dallas Mavericks,34.0,PG,33.0,6-3,185.0,Wisconsin,4053446.0
232,David Lee,Dallas Mavericks,42.0,PF,33.0,6-9,245.0,Florida,2085671.0
233,Wesley Matthews,Dallas Mavericks,23.0,SG,29.0,6-5,220.0,Marquette,16407500.0
234,JaVale McGee,Dallas Mavericks,11.0,C,28.0,7-0,270.0,Nevada,1270964.0
235,Salah Mejri,Dallas Mavericks,50.0,C,29.0,7-2,245.0,NaN,525093.0
236,Dirk Nowitzki,Dallas Mavericks,41.0,PF,37.0,7-0,245.0,NaN,8333334.0
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0
238,Chandler Parsons,Dallas Mavericks,25.0,SF,27.0,6-10,230.0,Florida,15361500.0
239,Dwight Powell,Dallas Mavericks,7.0,PF,24.0,6-11,240.0,Stanford,845059.0
240,Charlie Villanueva,Dallas Mavericks,3.0,PF,31.0,6-11,232.0,Connecticut,947276.0
241,Deron Williams,Dallas Mavericks,8.0,PG,31.0,6-3,200.0,Illinois,5378974.0
242,Trevor Ariza,Houston Rockets,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0
243,Michael Beasley,Houston Rockets,8.0,SF,27.0,6-10,235.0,Kansas State,306527.0
244,Patrick Beverley,Houston Rockets,2.0,PG,27.0,6-1,185.0,Arkansas,6486486.0
245,Corey Brewer,Houston Rockets,33.0,SG,30.0,6-9,186.0,Florida,8229375.0
246,Clint Capela,Houston Rockets,15.0,PF,22.0,6-10,240.0,NaN,1242720.0
247,Sam Dekker,Houston Rockets,7.0,SF,22.0,6-9,230.0,Wisconsin,1646400.0
248,Andrew Goudelock,Houston Rockets,0.0,PG,27.0,6-3,200.0,Charleston,200600.0
249,James Harden,Houston Rockets,13.0,SG,26.0,6-5,220.0,Arizona State,15756438.0
250,Montrezl Harrell,Houston Rockets,35.0,PF,22.0,6-8,240.0,Louisville,1000000.0
251,Dwight Howard,Houston Rockets,12.0,C,30.0,6-11,265.0,NaN,22359364.0
252,Terrence Jones,Houston Rockets,6.0,PF,24.0,6-9,252.0,Kentucky,2489530.0
253,K.J. McDaniels,Houston Rockets,32.0,SG,23.0,6-6,205.0,Clemson,3189794.0
254,Donatas Motiejunas,Houston Rockets,20.0,PF,25.0,7-0,222.0,NaN,2288205.0
255,Josh Smith,Houston Rockets,5.0,C,30.0,6-9,225.0,NaN,947276.0
256,Jason Terry,Houston Rockets,31.0,SG,38.0,6-2,185.0,Arizona,947276.0
257,Jordan Adams,Memphis Grizzlies,3.0,SG,21.0,6-5,209.0,UCLA,1404600.0
258,Tony Allen,Memphis Grizzlies,9.0,SG,34.0,6-4,213.0,Oklahoma State,5158539.0
259,Chris Andersen,Memphis Grizzlies,7.0,PF,37.0,6-10,245.0,Blinn College,5000000.0
260,Matt Barnes,Memphis Grizzlies,22.0,SF,36.0,6-7,226.0,UCLA,3542500.0
261,Vince Carter,Memphis Grizzlies,15.0,SG,39.0,6-6,220.0,North Carolina,4088019.0
262,Mike Conley,Memphis Grizzlies,11.0,PG,28.0,6-1,175.0,Ohio State,9588426.0

In [35]:
pd.set_option('display.max_rows', 10)

In [36]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [38]:
n=pd.read_csv('nba.csv', index_col = 'Name')
n
#name column is not counted in data anymore. it is saved as index column
#therefore it shows 8 columns now instead of 9.

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [40]:
nbaExcel = pd.read_excel('nba.xlsx')
nbaExcel

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2024-02-06 00:00:00,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,2024-06-06 00:00:00,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,2024-05-06 00:00:00,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,2024-05-06 00:00:00,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,2024-10-06 00:00:00,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,2024-10-06 00:00:00,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,2024-03-06 00:00:00,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,2024-01-06 00:00:00,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,2024-03-07 00:00:00,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [41]:
pd.read_csv?

In [ ]:
#pd.read_sql('nba.db')   to read sql file

In [42]:
airfile = pd.read_csv('https://raw.githubusercontent.com/datasets/airport-codes/master/data/airport-codes.csv')
airfile

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"40.07080078125, -74.93360137939453"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"59.947733, -151.692524"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"34.86479949951172, -86.77030181884766"
4,00AN,small_airport,Katmai Lodge Airport,80.0,NaN,US,US-AK,King Salmon,00AN,NaN,00AN,"59.093287, -156.456699"
...,...,...,...,...,...,...,...,...,...,...,...,...
75843,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"51.894444, 1.4825"
75844,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"-11.584277777799999, 47.296388888900005"
75845,ZZ-0003,small_airport,Fainting Goat Airport,690.0,NaN,US,US-TX,Blum,87TX,NaN,87TX,"32.110587, -97.356312"
75846,ZZZW,closed,Scandium City Heliport,4.0,NaN,CA,CA-YT,(Old) Scandium City,NaN,NaN,NaN,"69.355287, -138.93931"
75847,ZZZZ,small_airport,Satsuma Iōjima Airport,338.0,AS,JP,JP-46,Mishima,RJX7,NaN,RJX7,"30.784722, 130.270556"

In [43]:
airfile.to_csv('Airports.csv')  #converting python data to csv format
#if i don't give a path or write the name of the folder where i want to
#store the file, it automatically gets saved to where the jupyter notebook 
#is opened. if i give a path, the file will be stored there.

#ALSO, if i make changes to the data here and then run this code again to 
#save the file  with the same name, then python will overwrite the new data
#over the old file.

In [44]:
airfile.to_csv?

### Indexing in DataFrame

In [45]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [52]:
#Column Indexing
#Single Column Indexing

In [137]:
nba['Position']

0      PG
1      SF
2      SG
3      SG
4      PF
       ..
452    PF
453    PG
454    PG
455     C
456     C
Name: Position, Length: 457, dtype: object

In [57]:
nba.Position

0      PG
1      SF
2      SG
3      SG
4      PF
       ..
452    PF
453    PG
454    PG
455     C
456     C
Name: Position, Length: 457, dtype: object

In [55]:
#Multi Column Indexing

In [60]:
nb_psc= nba[['Position', 'Salary', 'College']]
nb_psc

    Position     Salary            College
0         PG  7730337.0              Texas
1         SF  6796117.0          Marquette
2         SG        NaN  Boston University
3         SG  1148640.0      Georgia State
4         PF  5000000.0                NaN
..       ...        ...                ...
452       PF  2239800.0           Kentucky
453       PG  2433333.0             Butler
454       PG   900000.0                NaN
455        C  2900000.0                NaN
456        C   947276.0             Kansas

[457 rows x 3 columns]

In [138]:
nb_pos= nba[['Position']]
nb_pos

    Position
0         PG
1         SF
2         SG
3         SG
4         PF
..       ...
452       PF
453       PG
454       PG
455        C
456        C

[457 rows x 1 columns]

In [139]:
type(nb_pos)
#each and every column of a dataframe is individually a series!!

pandas.core.frame.DataFrame

In [63]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [62]:
#Row Indexing
#Single Row Indexing

In [65]:
nba.loc[2]
#each and every row of a dataframe is individually a series!!

Name             John Holland
Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: 2, dtype: object

In [66]:
#Multi Row Indexing

In [64]:
nba.loc[[2]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [68]:
nba.loc[[2, 52,114,235,101,351,453]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
52,Carl Landry,Philadelphia 76ers,7.0,PF,32.0,6-9,248.0,Purdue,6500000.0
114,Larry Nance Jr.,Los Angeles Lakers,7.0,PF,23.0,6-9,230.0,Wyoming,1155600.0
235,Salah Mejri,Dallas Mavericks,50.0,C,29.0,7-2,245.0,NaN,525093.0
101,Paul Pierce,Los Angeles Clippers,34.0,SF,38.0,6-7,235.0,Kansas,3376000.0
351,Hassan Whiteside,Miami Heat,21.0,C,26.0,7-0,265.0,Marshall,981348.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0

In [69]:
n

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [70]:
nba.loc[[2]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [71]:
n.loc[2]

KeyError: 2

In [74]:
n.loc[['John Holland']]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

another function called iloc can be used for such datframes where one of the columns are the index columns, hence making data difficult to access in a continuous/loop fashion.
pyhon always assigns/maintains a zero based index in the backend even if not present in the dataframe. iloc stands or integer based location and it accesses the integer index assigned in the backend. this is the same way it works for strings, tuples, lists etc. we can't see the indexing but it is present in the backend.

In [75]:
n.iloc[[2]]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [76]:
nba.iloc[[2]]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [90]:
nc=nba.copy()   
#it is never advisable to change the base data. hitting the server again 
#and again to request data creates an unnecessary load on it
nc

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

#nc.set_index?
nc.set_index(keys,
             *,
    drop: 'bool' = True,
    append: 'bool' = False,
    inplace: 'bool' = False,
    verify_integrity: 'bool' = False,
) -> 'DataFrame | None'

In [183]:
nb_num= nc.set_index('Number', drop=False)
nb_num

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Number,,,,,,,,,
0.0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
99.0,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
30.0,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
28.0,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
8.0,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
41.0,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
8.0,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
25.0,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
21.0,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
24.0,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [186]:
nb_num2= nc.set_index('Number', drop=True)  
nb_num2
#if drop is true the column set as index is removed from data frame

,Name,Team,Position,Age,Height,Weight,College,Salary
Number,,,,,,,,
0.0,Avery Bradley,Boston Celtics,PG,25.0,6-2,180.0,Texas,7730337.0
99.0,Jae Crowder,Boston Celtics,SF,25.0,6-6,235.0,Marquette,6796117.0
30.0,John Holland,Boston Celtics,SG,27.0,6-5,205.0,Boston University,NaN
28.0,R.J. Hunter,Boston Celtics,SG,22.0,6-5,185.0,Georgia State,1148640.0
8.0,Jonas Jerebko,Boston Celtics,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
41.0,Trey Lyles,Utah Jazz,PF,20.0,6-10,234.0,Kentucky,2239800.0
8.0,Shelvin Mack,Utah Jazz,PG,26.0,6-3,203.0,Butler,2433333.0
25.0,Raul Neto,Utah Jazz,PG,24.0,6-1,179.0,NaN,900000.0
21.0,Tibor Pleiss,Utah Jazz,C,26.0,7-3,256.0,NaN,2900000.0
24.0,Jeff Withey,Utah Jazz,C,26.0,7-0,231.0,Kansas,947276.0

In [92]:
nc #still remains the same because of inplace

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [ ]:
#if we add inplace = True then it means we want to do the modifications to 
#the same dataframe. by default, inplace is set to False.

In [94]:
nct=nc.set_index('Number', drop=False)
nct

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Number,,,,,,,,,
0.0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
99.0,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
30.0,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
28.0,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
8.0,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
41.0,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
8.0,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
25.0,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
21.0,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
24.0,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [95]:
nc.set_index('Number', drop=False, inplace= True)   #inplace argument

In [96]:
nc #nc has changed now

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Number,,,,,,,,,
0.0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
99.0,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
30.0,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
28.0,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
8.0,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
41.0,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
8.0,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
25.0,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
21.0,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
24.0,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [87]:
## Slicing

In [97]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [98]:
nba.loc[34:39]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
34,Jose Calderon,New York Knicks,3.0,PG,34.0,6-3,200.0,NaN,7402812.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
36,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0
37,Jerian Grant,New York Knicks,13.0,PG,23.0,6-4,195.0,Notre Dame,1572360.0
38,Robin Lopez,New York Knicks,8.0,C,28.0,7-0,255.0,Stanford,12650000.0
39,Kyle O'Quinn,New York Knicks,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0

In [99]:
nba[34:39]  #in this method, end index is not inclusive

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
34,Jose Calderon,New York Knicks,3.0,PG,34.0,6-3,200.0,NaN,7402812.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
36,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0
37,Jerian Grant,New York Knicks,13.0,PG,23.0,6-4,195.0,Notre Dame,1572360.0
38,Robin Lopez,New York Knicks,8.0,C,28.0,7-0,255.0,Stanford,12650000.0

In [100]:
nba.loc[32:40:2]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
32,Thanasis Antetokounmpo,New York Knicks,43.0,SF,23.0,6-7,205.0,NaN,30888.0
34,Jose Calderon,New York Knicks,3.0,PG,34.0,6-3,200.0,NaN,7402812.0
36,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0
38,Robin Lopez,New York Knicks,8.0,C,28.0,7-0,255.0,Stanford,12650000.0
40,Kristaps Porzingis,New York Knicks,6.0,PF,20.0,7-3,240.0,NaN,4131720.0

In [101]:
nba[32:40:2]  #steps work similarly

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
32,Thanasis Antetokounmpo,New York Knicks,43.0,SF,23.0,6-7,205.0,NaN,30888.0
34,Jose Calderon,New York Knicks,3.0,PG,34.0,6-3,200.0,NaN,7402812.0
36,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0
38,Robin Lopez,New York Knicks,8.0,C,28.0,7-0,255.0,Stanford,12650000.0

In [105]:
nba.loc[:4]  #slicing similarly works for iloc as well

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [106]:
#there is also a function to get the above output, which gives the first 
#five rows of the dataset
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [107]:
#you can also give end index till the number of rows you want
nba.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [108]:
nba.tail() #works similary just from the end of the dataset

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [109]:
nba.tail(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [116]:
nba.sample()  #gives a random data sample from the data record.

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
164,Derrick Rose,Chicago Bulls,1.0,PG,27.0,6-3,190.0,Memphis,20093064.0

In [121]:
nba.sample(4)  
#gives you the required number(your input) of samples randomly everytime

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
308,David West,San Antonio Spurs,30.0,PF,35.0,6-9,250.0,Xavier,1499187.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
233,Wesley Matthews,Dallas Mavericks,23.0,SG,29.0,6-5,220.0,Marquette,16407500.0
341,Goran Dragic,Miami Heat,7.0,PG,30.0,6-3,190.0,NaN,14783000.0

In [122]:
nba.index

RangeIndex(start=0, stop=457, step=1)

In [123]:
e= pd.DataFrame(l3, columns=['Name', 'Rank'])

In [124]:
e

  Name  Rank
0    A  23.0
1    B  90.0
2    C   NaN
3    D  12.0

In [125]:
e.index

RangeIndex(start=0, stop=4, step=1)

In [126]:
e1= pd.DataFrame(l3, columns=['Name', 'Rank'], index=['#1', '#2', '#3', '#4'])
e1

   Name  Rank
#1    A  23.0
#2    B  90.0
#3    C   NaN
#4    D  12.0

In [127]:
e1.index

Index(['#1', '#2', '#3', '#4'], dtype='object')

In [128]:
e1= pd.DataFrame(l3, columns=['Name', 'Rank'], index=[4, 22, 8, 0])
e1

   Name  Rank
4     A  23.0
22    B  90.0
8     C   NaN
0     D  12.0

In [129]:
e1.index

Index([4, 22, 8, 0], dtype='int64')

In [130]:
e1= pd.DataFrame(l3, columns=['Name', 'Rank'], index=[22, '#2', '#3', 3.5])
e1

    Name  Rank
22     A  23.0
#2     B  90.0
#3     C   NaN
3.5    D  12.0

In [131]:
e1.index

Index([22, '#2', '#3', 3.5], dtype='object')

In [132]:
list(e1.index)

[22, '#2', '#3', 3.5]

In [133]:
list(nba.columns)

['Name',
 'Team',
 'Number',
 'Position',
 'Age',
 'Height',
 'Weight',
 'College',
 'Salary']

In [134]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [135]:
e1.columns

Index(['Name', 'Rank'], dtype='object')

In [140]:
nb_pos

    Position
0         PG
1         SF
2         SG
3         SG
4         PF
..       ...
452       PF
453       PG
454       PG
455        C
456        C

[457 rows x 1 columns]

In [141]:
nb_pos.loc[[4]]

  Position
4       PF

In [142]:
nb_pos.loc[4]

Position    PF
Name: 4, dtype: object

In [148]:
nb_pos[2:5]

  Position
2       SG
3       SG
4       PF

In [145]:
nba[['Position']].loc[[4]]  #same thing can be done this way as well
#or nba.loc[[4]][['Position']]

  Position
4       PF

In [150]:
nba.Position

0      PG
1      SF
2      SG
3      SG
4      PF
       ..
452    PF
453    PG
454    PG
455     C
456     C
Name: Position, Length: 457, dtype: object

In [152]:
nba.Position.unique()  
#gives you the different types of data values without repetition

array(['PG', 'SF', 'SG', 'PF', 'C'], dtype=object)

In [153]:
list(nba.Name)

['Avery Bradley',
 'Jae Crowder',
 'John Holland',
 'R.J. Hunter',
 'Jonas Jerebko',
 'Amir Johnson',
 'Jordan Mickey',
 'Kelly Olynyk',
 'Terry Rozier',
 'Marcus Smart',
 'Jared Sullinger',
 'Isaiah Thomas',
 'Evan Turner',
 'James Young',
 'Tyler Zeller',
 'Bojan Bogdanovic',
 'Markel Brown',
 'Wayne Ellington',
 'Rondae Hollis-Jefferson',
 'Jarrett Jack',
 'Sergey Karasev',
 'Sean Kilpatrick',
 'Shane Larkin',
 'Brook Lopez',
 'Chris McCullough',
 'Willie Reed',
 'Thomas Robinson',
 'Henry Sims',
 'Donald Sloan',
 'Thaddeus Young',
 'Arron Afflalo',
 'Lou Amundson',
 'Thanasis Antetokounmpo',
 'Carmelo Anthony',
 'Jose Calderon',
 'Cleanthony Early',
 'Langston Galloway',
 'Jerian Grant',
 'Robin Lopez',
 "Kyle O'Quinn",
 'Kristaps Porzingis',
 'Kevin Seraphin',
 'Lance Thomas',
 'Sasha Vujacic',
 'Derrick Williams',
 'Tony Wroten',
 'Elton Brand',
 'Isaiah Canaan',
 'Robert Covington',
 'Joel Embiid',
 'Jerami Grant',
 'Richaun Holmes',
 'Carl Landry',
 'Kendall Marshall',
 'T.J. McConnell',
 'Nerlens Noel',
 'Jahlil Okafor',
 'Ish Smith',
 'Nik Stauskas',
 'Hollis Thompson',
 'Christian Wood',
 'Bismack Biyombo',
 'Bruno Caboclo',
 'DeMarre Carroll',
 'DeMar DeRozan',
 'James Johnson',
 'Cory Joseph',
 'Kyle Lowry',
 'Lucas Nogueira',
 'Patrick Patterson',
 'Norman Powell',
 'Terrence Ross',
 'Luis Scola',
 'Jason Thompson',
 'Jonas Valanciunas',
 'Delon Wright',
 'Leandro Barbosa',
 'Harrison Barnes',
 'Andrew Bogut',
 'Ian Clark',
 'Stephen Curry',
 'Festus Ezeli',
 'Draymond Green',
 'Andre Iguodala',
 'Shaun Livingston',
 'Kevon Looney',
 'James Michael McAdoo',
 'Brandon Rush',
 'Marreese Speights',
 'Klay Thompson',
 'Anderson Varejao',
 'Cole Aldrich',
 'Jeff Ayres',
 'Jamal Crawford',
 'Branden Dawson',
 'Jeff Green',
 'Blake Griffin',
 'Wesley Johnson',
 'DeAndre Jordan',
 'Luc Richard Mbah a Moute',
 'Chris Paul',
 'Paul Pierce',
 'Pablo Prigioni',
 'JJ Redick',
 'Austin Rivers',
 'C.J. Wilcox',
 'Brandon Bass',
 'Tarik Black',
 'Anthony Brown',
 'Kobe Bryant',
 'Jordan Clarkson',
 'Roy Hibbert',
 'Marcelo Huertas',
 'Ryan Kelly',
 'Larry Nance Jr.',
 'Julius Randle',
 "D'Angelo Russell",
 'Robert Sacre',
 'Louis Williams',
 'Metta World Peace',
 'Nick Young',
 'Eric Bledsoe',
 'Devin Booker',
 'Chase Budinger',
 'Tyson Chandler',
 'Archie Goodwin',
 'John Jenkins',
 'Brandon Knight',
 'Alex Len',
 'Jon Leuer',
 'Phil Pressey',
 'Ronnie Price',
 'Mirza Teletovic',
 'P.J. Tucker',
 'T.J. Warren',
 'Alan Williams',
 'Quincy Acy',
 'James Anderson',
 'Marco Belinelli',
 'Caron Butler',
 'Omri Casspi',
 'Willie Cauley-Stein',
 'Darren Collison',
 'DeMarcus Cousins',
 'Seth Curry',
 'Duje Dukan',
 'Rudy Gay',
 'Kosta Koufos',
 'Ben McLemore',
 'Eric Moreland',
 'Rajon Rondo',
 'Cameron Bairstow',
 'Aaron Brooks',
 'Jimmy Butler',
 'Mike Dunleavy',
 'Cristiano Felicio',
 'Pau Gasol',
 'Taj Gibson',
 'Justin Holiday',
 'Doug McDermott',
 'Nikola Mirotic',
 "E'Twaun Moore",
 'Joakim Noah',
 'Bobby Portis',
 'Derrick Rose',
 'Tony Snell',
 'Matthew Dellavedova',
 'Channing Frye',
 'Kyrie Irving',
 'LeBron James',
 'Richard Jefferson',
 'Dahntay Jones',
 'James Jones',
 'Sasha Kaun',
 'Kevin Love',
 'Jordan McRae',
 'Timofey Mozgov',
 'Iman Shumpert',
 'J.R. Smith',
 'Tristan Thompson',
 'Mo Williams',
 'Joel Anthony',
 'Aron Baynes',
 'Steve Blake',
 'Lorenzo Brown',
 'Reggie Bullock',
 'Kentavious Caldwell-Pope',
 'Spencer Dinwiddie',
 'Andre Drummond',
 'Tobias Harris',
 'Darrun Hilliard',
 'Reggie Jackson',
 'Stanley Johnson',
 'Jodie Meeks',
 'Marcus Morris',
 'Anthony Tolliver',
 'Lavoy Allen',
 'Rakeem Christmas',
 'Monta Ellis',
 'Paul George',
 'George Hill',
 'Jordan Hill',
 'Solomon Hill',
 'Ty Lawson',
 'Ian Mahinmi',
 'C.J. Miles',
 'Glenn Robinson III',
 'Rodney Stuckey',
 'Myles Turner',
 'Shayne Whittington',
 'Joe Young',
 'Giannis Antetokounmpo',
 'Jerryd Bayless',
 'Michael Carter-Williams',
 'Jared Cunningham',
 'Tyler Ennis',
 'John Henson',
 'Damien Inglis',
 'O.J. Mayo',
 'Khris Middleton',
 'Greg Monroe',
 'Steve Novak',
 "Johnny O'Bryant III",
 'Jabari Parker',
 'Miles Plumlee',
 'Greivis Vasquez',
 'Rashad Vaughn',
 'Justin Anderson',
 'J.J. Barea',
 'Jeremy Evans',
 'Raymond Felton',
 'Devin Harris',
 'David Lee',
 'Wesley Matthews',
 'JaVale McGee',
 'Salah Mejri',
 'Dirk Nowitzki',
 'Zaza Pachulia',
 'Chandler Parsons',
 'Dwight Powell',
 'Charlie Villanueva',
 'Deron Williams',
 'Trevor Ariza',
 'Michael Beasley',
 'Patrick Beverley',
 'Corey Brewer',
 'Clint Capela',
 'Sam Dekker',
 'Andrew Goudelock',
 'James Harden',
 'Montrezl Harrell',
 'Dwight Howard',
 'Terrence Jones',
 'K.J. McDaniels',
 'Donatas Motiejunas',
 'Josh Smith',
 'Jason Terry',
 'Jordan Adams',
 'Tony Allen',
 'Chris Andersen',
 'Matt Barnes',
 'Vince Carter',
 'Mike Conley',
 'Bryce Cotton',
 'Jordan Farmar',
 'Marc Gasol',
 'JaMychal Green',
 'P.J. Hairston',
 'Jarell Martin',
 'Ray McCallum',
 'Xavier Munford',
 'Zach Randolph',
 'Lance Stephenson',
 'Alex Stepheson',
 'Brandan Wright',
 'Alexis Ajinca',
 'Ryan Anderson',
 'Omer Asik',
 'Luke Babbitt',
 'Norris Cole',
 'Dante Cunningham',
 'Anthony Davis',
 'Bryce Dejean-Jones',
 'Toney Douglas',
 'James Ennis',
 'Tyreke Evans',
 'Tim Frazier',
 'Alonzo Gee',
 'Eric Gordon',
 'Jordan Hamilton',
 'Jrue Holiday',
 'Orlando Johnson',
 'Kendrick Perkins',
 'Quincy Pondexter',
 'LaMarcus Aldridge',
 'Kyle Anderson',
 'Matt Bonner',
 'Boris Diaw',
 'Tim Duncan',
 'Manu Ginobili',
 'Danny Green',
 'Kawhi Leonard',
 'Boban Marjanovic',
 'Kevin Martin',
 'Andre Miller',
 'Patty Mills',
 'Tony Parker',
 'Jonathon Simmons',
 'David West',
 'Kent Bazemore',
 'Tim Hardaway Jr.',
 'Kirk Hinrich',
 'Al Horford',
 'Kris Humphries',
 'Kyle Korver',
 'Paul Millsap',
 'Mike Muscala',
 'Lamar Patterson',
 'Dennis Schroder',
 'Mike Scott',
 'Thabo Sefolosha',
 'Tiago Splitter',
 'Walter Tavares',
 'Jeff Teague',
 'Nicolas Batum',
 'Troy Daniels',
 'Jorge Gutierrez',
 'Tyler Hansbrough',
 'Aaron Harrison',
 'Spencer Hawes',
 'Al Jefferson',
 'Frank Kaminsky III',
 'Michael Kidd-Gilchrist',
 'Jeremy Lamb',
 'Courtney Lee',
 'Jeremy Lin',
 'Kemba Walker',
 'Marvin Williams',
 'Cody Zeller',
 'Chris Bosh',
 'Luol Deng',
 'Goran Dragic',
 'Gerald Green',
 'Udonis Haslem',
 'Joe Johnson',
 'Tyler Johnson',
 'Josh McRoberts',
 'Josh Richardson',
 "Amar'e Stoudemire",
 'Dwyane Wade',
 'Briante Weber',
 'Hassan Whiteside',
 'Justise Winslow',
 'Dorell Wright',
 'Dewayne Dedmon',
 'Evan Fournier',
 'Aaron Gordon',
 'Mario Hezonja',
 'Ersan Ilyasova',
 'Brandon Jennings',
 'Devyn Marble',
 'Shabazz Napier',
 'Andrew Nicholson',
 'Victor Oladipo',
 'Elfrid Payton',
 'Jason Smith',
 'Nikola Vucevic',
 'C.J. Watson',
 'Alan Anderson',
 'Bradley Beal',
 'Jared Dudley',
 'Jarell Eddie',
 'Drew Gooden',
 'Marcin Gortat',
 'JJ Hickson',
 'Nene Hilario',
 'Markieff Morris',
 'Kelly Oubre Jr.',
 'Otto Porter Jr.',
 'Ramon Sessions',
 'Garrett Temple',
 'Marcus Thornton',
 'John Wall',
 'Darrell Arthur',
 'D.J. Augustin',
 'Will Barton',
 'Wilson Chandler',
 'Kenneth Faried',
 'Danilo Gallinari',
 'Gary Harris',
 'Nikola Jokic',
 'Joffrey Lauvergne',
 'Mike Miller',
 'Emmanuel Mudiay',
 'Jameer Nelson',
 'Jusuf Nurkic',
 'JaKarr Sampson',
 'Axel Toupane',
 'Nemanja Bjelica',
 'Gorgui Dieng',
 'Kevin Garnett',
 'Tyus Jones',
 'Zach LaVine',
 'Shabazz Muhammad',
 'Adreian Payne',
 'Nikola Pekovic',
 'Tayshaun Prince',
 'Ricky Rubio',
 'Damjan Rudez',
 'Greg Smith',
 'Karl-Anthony Towns',
 'Andrew Wiggins',
 'Steven Adams',
 'Nick Collison',
 'Kevin Durant',
 'Randy Foye',
 'Josh Huestis',
 'Serge Ibaka',
 'Enes Kanter',
 'Mitch McGary',
 'Nazr Mohammed',
 'Anthony Morrow',
 'Cameron Payne',
 'Andre Roberson',
 'Kyle Singler',
 'Dion Waiters',
 'Russell Westbrook',
 'Cliff Alexander',
 'Al-Farouq Aminu',
 'Pat Connaughton',
 'Allen Crabbe',
 'Ed Davis',
 'Maurice Harkless',
 'Gerald Henderson',
 'Chris Kaman',
 'Meyers Leonard',
 'Damian Lillard',
 'C.J. McCollum',
 'Luis Montero',
 'Mason Plumlee',
 'Brian Roberts',
 'Noah Vonleh',
 'Trevor Booker',
 'Trey Burke',
 'Alec Burks',
 'Dante Exum',
 'Derrick Favors',
 'Rudy Gobert',
 'Gordon Hayward',
 'Rodney Hood',
 'Joe Ingles',
 'Chris Johnson',
 'Trey Lyles',
 'Shelvin Mack',
 'Raul Neto',
 'Tibor Pleiss',
 'Jeff Withey']

In [154]:
list(nba.College.unique())

['Texas',
 'Marquette',
 'Boston University',
 'Georgia State',
 nan,
 'LSU',
 'Gonzaga',
 'Louisville',
 'Oklahoma State',
 'Ohio State',
 'Washington',
 'Kentucky',
 'North Carolina',
 'Arizona',
 'Georgia Tech',
 'Cincinnati',
 'Miami (FL)',
 'Stanford',
 'Syracuse',
 'Saint Louis',
 'Kansas',
 'Georgetown',
 'Texas A&M',
 'UCLA',
 'UNLV',
 'Wichita State',
 "Saint Joseph's",
 'Notre Dame',
 'Norfolk State',
 'Duke',
 'Murray State',
 'Tennessee State',
 'Bowling Green',
 'Purdue',
 'Wake Forest',
 'Michigan',
 'Missouri',
 'USC',
 'Villanova',
 'Rider',
 'Utah',
 'Belmont',
 'Davidson',
 'Vanderbilt',
 'Michigan State',
 'Florida',
 'Washington State',
 'Arizona State',
 'Oklahoma',
 'Wyoming',
 "St. John's",
 'Maryland',
 'Wisconsin',
 'Utah Valley',
 'North Carolina State',
 'UC Santa Barbara',
 'Baylor',
 'Connecticut',
 'Oregon State',
 'New Mexico',
 'Oregon',
 'Creighton',
 'Arkansas',
 'Memphis',
 "Saint Mary's",
 'Tennessee',
 'Alabama',
 'Georgia',
 'Colorado',
 'Boston College',
 'Temple',
 'Fresno State',
 'IUPUI',
 'Eastern Washington',
 'Western Michigan',
 'Virginia',
 'Northeastern',
 'Western Kentucky',
 'Nevada',
 'Illinois',
 'Kansas State',
 'Charleston',
 'Clemson',
 'Blinn College',
 'Providence',
 'Detroit',
 'Rhode Island',
 'California',
 'Cleveland State',
 'Iowa State',
 'Florida State',
 'Long Beach State',
 'Penn State',
 'Indiana',
 'San Diego State',
 'Western Carolina',
 'Houston',
 'Xavier',
 'Old Dominion',
 'Minnesota',
 'Louisiana Tech',
 'Bucknell',
 'Pittsburgh',
 'Virginia Commonwealth',
 'Harvard',
 'Marshall',
 'Iowa',
 'St. Bonaventure',
 'Louisiana-Lafayette',
 'Colorado State',
 'Virginia Tech',
 'DePaul',
 'Morehead State',
 'Central Michigan',
 'Weber State',
 'Lehigh',
 'Westchester CC',
 'Dayton',
 'Butler']

In [157]:
nbc=nba.copy()
nbc

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [166]:
nbc.sort_values(by= ['Name']) 
#sorting dataframe alphabetically on the basis of name
#see differnt types of sorting ways and methods in function explanation

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
386,Wilson Chandler,Denver Nuggets,21.0,SF,29.0,6-8,225.0,DePaul,10449438.0
270,Xavier Munford,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0

nbc.sort_values(
    by: 'IndexLabel',
    *,
    axis: 'Axis' = 0,
    ascending: 'bool | list[bool] | tuple[bool, ...]' = True,
    inplace: 'bool' = False,
    kind: 'str' = 'quicksort',
    na_position: 'str' = 'last',
    ignore_index: 'bool' = False,
    key: 'ValueKeyFunc' = None,
) -> 'DataFrame | None'
Docstring:
Sort by the values along either axis.

Parameters
----------
by : str or list of str
    Name or list of names to sort by.

    - if `axis` is 0 or `'index'` then `by` may contain index
      levels and/or column labels.
    - if `axis` is 1 or `'columns'` then `by` may contain column
      levels and/or index labels.
axis : {0 or 'index', 1 or 'columns'}, default 0
     Axis to be sorted.
ascending : bool or list of bool, default True
     Sort ascending vs. descending. Specify list for multiple sort
     orders.  If this is a list of bools, must match the length of
     the by.
inplace : bool, default False
     If True, perform operation in-place.
kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
     Choice of sorting algorithm. See also :func:`numpy.sort` for more
     information. `mergesort` and `stable` are the only stable algorithms. For
     DataFrames, this option is only applied when sorting on a single
     column or label.
na_position : {'first', 'last'}, default 'last'
     Puts NaNs at the beginning if `first`; `last` puts NaNs at the
     end.
ignore_index : bool, default False
     If True, the resulting axis will be labeled 0, 1, …, n - 1.
key : callable, optional
    Apply the key function to the values
    before sorting. This is similar to the `key` argument in the
    builtin :meth:`sorted` function, with the notable difference that
    this `key` function should be *vectorized*. It should expect a
    ``Series`` and return a Series with the same shape as the input.
    It will be applied to each column in `by` independently.

In [168]:
nbc.sort_index?
#sorts on basis of index values. can also sort columns using axis=0

### TOPIC SPECIFIC OPERATIONS ON DATAFRAME

In [169]:
nbc

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [170]:
#eg: if you want to split name column into two columns based on first name 
#and last name
new = nbc['Name'].split(" ")  
#DOESN"T work because you can't split a series 
new

AttributeError: 'Series' object has no attribute 'split'

In [171]:
#instead
new = nbc['Name'].str.split(" ") 
#therefore applying split method over every string value of the column 
#series
new

0      [Avery, Bradley]
1        [Jae, Crowder]
2       [John, Holland]
3        [R.J., Hunter]
4      [Jonas, Jerebko]
             ...
452       [Trey, Lyles]
453     [Shelvin, Mack]
454        [Raul, Neto]
455     [Tibor, Pleiss]
456      [Jeff, Withey]
Name: Name, Length: 457, dtype: object

In [172]:
new = nbc['Name'].str.split(" ", expand = True) 
#this argument gives output after splitting into diff columns in the 
#dataframe
new
#getting 5 columns here because of middle names or more than 1 space in between

           0        1     2     3     4
0      Avery  Bradley  None  None  None
1        Jae  Crowder  None  None  None
2       John  Holland  None  None  None
3       R.J.   Hunter  None  None  None
4      Jonas  Jerebko  None  None  None
..       ...      ...   ...   ...   ...
452     Trey    Lyles  None  None  None
453  Shelvin     Mack  None  None  None
454     Raul     Neto  None  None  None
455    Tibor   Pleiss  None  None  None
456     Jeff   Withey  None  None  None

[457 rows x 5 columns]

In [178]:
#if you only want first name and rest in one or two column, ie you want to
#dictate the number of parts the string in the series is splittled into, use:
new = nbc['Name'].str.split(" ", n=1, expand = True)

In [179]:
new

           0        1
0      Avery  Bradley
1        Jae  Crowder
2       John  Holland
3       R.J.   Hunter
4      Jonas  Jerebko
..       ...      ...
452     Trey    Lyles
453  Shelvin     Mack
454     Raul     Neto
455    Tibor   Pleiss
456     Jeff   Withey

[457 rows x 2 columns]

In [193]:
new[0]

0        Avery
1          Jae
2         John
3         R.J.
4        Jonas
        ...
452       Trey
453    Shelvin
454       Raul
455      Tibor
456       Jeff
Name: 0, Length: 457, dtype: object

In [177]:
nbc

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [180]:
nbc['First Name'] = new[0]
nbc['Last Name'] = new[1]
nbc

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,First Name,Last Name
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Avery,Bradley
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Jae,Crowder
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,John,Holland
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,R.J.,Hunter
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Jonas,Jerebko
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,Trey,Lyles
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,Shelvin,Mack
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,Raul,Neto
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,Tibor,Pleiss
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Jeff,Withey

In [181]:
n

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [194]:
nbc['Name']

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
456      Jeff Withey
Name: Name, Length: 457, dtype: object

In [196]:
n['First Name'] = nbc['Position']
n

,Team,Number,Position,Age,Height,Weight,College,Salary,First Name
Name,,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,NaN
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,NaN
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,NaN
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,NaN
...,...,...,...,...,...,...,...,...,...
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,NaN
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,NaN
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,NaN
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,NaN
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,NaN

In [198]:
nb_num['First Name'] = new[0]
nb_num
#NOTE THAT HERE IN SECOND ROW JAE CROWDER GETS FIRST NAME ASSIGNED AS LUC 
#AND NOT JAE. Similarly for all others except the first one avery with index 
#number and number both as 0.
#WHY AN WORKING IS EXPLAINED BELOW

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,First Name
Number,,,,,,,,,,
0.0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Avery
99.0,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Luc
30.0,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Arron
28.0,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Donald
8.0,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Terry
...,...,...,...,...,...,...,...,...,...,...
41.0,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,Kevin
8.0,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,Terry
25.0,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,Willie
21.0,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,Sean
24.0,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Chris

In [187]:
nb_num2['First Name'] = new[0]
nb_num2

,Name,Team,Position,Age,Height,Weight,College,Salary,First Name
Number,,,,,,,,,
0.0,Avery Bradley,Boston Celtics,PG,25.0,6-2,180.0,Texas,7730337.0,Avery
99.0,Jae Crowder,Boston Celtics,SF,25.0,6-6,235.0,Marquette,6796117.0,Luc
30.0,John Holland,Boston Celtics,SG,27.0,6-5,205.0,Boston University,NaN,Arron
28.0,R.J. Hunter,Boston Celtics,SG,22.0,6-5,185.0,Georgia State,1148640.0,Donald
8.0,Jonas Jerebko,Boston Celtics,PF,29.0,6-10,231.0,NaN,5000000.0,Terry
...,...,...,...,...,...,...,...,...,...
41.0,Trey Lyles,Utah Jazz,PF,20.0,6-10,234.0,Kentucky,2239800.0,Kevin
8.0,Shelvin Mack,Utah Jazz,PG,26.0,6-3,203.0,Butler,2433333.0,Terry
25.0,Raul Neto,Utah Jazz,PG,24.0,6-1,179.0,NaN,900000.0,Willie
21.0,Tibor Pleiss,Utah Jazz,C,26.0,7-3,256.0,NaN,2900000.0,Sean
24.0,Jeff Withey,Utah Jazz,C,26.0,7-0,231.0,Kansas,947276.0,Chris

In [188]:
ncN=nc.set_index('Name', drop=False)
ncN

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,,
Avery Bradley,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
Trey Lyles,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
Shelvin Mack,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [189]:
ncN['First Name'] = new[0]
ncN

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,First Name
Name,,,,,,,,,,
Avery Bradley,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,NaN
Jae Crowder,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,NaN
John Holland,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,NaN
R.J. Hunter,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,NaN
Jonas Jerebko,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...
Trey Lyles,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,NaN
Shelvin Mack,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,NaN
Raul Neto,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,NaN
Tibor Pleiss,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,NaN
Jeff Withey,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,NaN

### AFTER A LOT OF GUESSING, 
THIS IS THE EXPLANATION.

HOW DOES THIS COLUMN ADDITION TO DATAFRAME WORK?
--> IT WORKS BASED ON MAPPING OF INDEX VALUES. THIS IS WHY ABOVE, THE MISTAKE WAS MADE FOR NUMBER INDEXED DATAFRAME. IT MAPPED THE FIRST NAMES(IE COLUMN 0) OF 'new' DATAFRAME ON THE BASIS OF NUMBER COLUMN VALUES WRT INDEX COLUMN OF NEW DATA FRAME. AND THIS IS ALSO WHY NO MATTER HOW THE NAME INDEXED DATAFRAME LOOKED WITH THE NAME SERIES DROPPED OR WITHOUT, THE ADDITIONAL FIRST NAME COLUMN WHEN ADDED ALWAYS SHOWED NaN. BECAUSE NAMES COULD NOT BE MAPPED TO THE INDEX NUMBERS OF new DATAFRAME. 
ANY NEW COLUMN WHEN ADDED FROM ONE DATAFRAME TO ANOTHER, IS MAPPED ON BASIS OF INDEX VALUES OF BOTH DATAFRAMES. IF INDEX COLUMNS DO NOT MATCH, MAPPING GOES WRONG AND THE PROCESS FAILS.

### THIS MAPPING COMES VERY HANDY WHEN MERGING DIFFERENT SETS OF DATAFRAMES WITH AT LEAST ONE COMMON COLUMN. WE CAN EASILY MAKE THAT INDEX FOR BOTH AND MERGE DIFFERENTLY ORGANIZED / ORDERED DATA FRAMES INTO ONE SINGLE DATAFRAME CONTAINING THE ENTIRE DATA.

In [199]:
#how it went wrong?
nb_num.loc[[30]]  
#all have first name as Arron. since index no. 30 in new dataset was Arron.

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,First Name
Number,,,,,,,,,,
30.0,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Arron
30.0,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0,Arron
30.0,Stephen Curry,Golden State Warriors,30.0,PG,28.0,6-3,190.0,Davidson,11370786.0,Arron
30.0,C.J. Wilcox,Los Angeles Clippers,30.0,SG,25.0,6-5,195.0,Washington,1159680.0,Arron
30.0,Julius Randle,Los Angeles Lakers,30.0,PF,21.0,6-9,250.0,Kentucky,3132240.0,Arron
...,...,...,...,...,...,...,...,...,...,...
30.0,Seth Curry,Sacramento Kings,30.0,SG,25.0,6-2,185.0,Duke,947276.0,Arron
30.0,Dahntay Jones,Cleveland Cavaliers,30.0,SG,35.0,6-6,225.0,Duke,NaN,Arron
30.0,Norris Cole,New Orleans Pelicans,30.0,PG,27.0,6-2,175.0,Cleveland State,3036927.0,Arron
30.0,David West,San Antonio Spurs,30.0,PF,35.0,6-9,250.0,Xavier,1499187.0,Arron
30.0,Troy Daniels,Charlotte Hornets,30.0,SG,24.0,6-4,205.0,Virginia Commonwealth,947276.0,Arron

In [200]:
#by default, columns are added at the end/ appended.
#to interchange places:
nbc

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,First Name,Last Name
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Avery,Bradley
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Jae,Crowder
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,John,Holland
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,R.J.,Hunter
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Jonas,Jerebko
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,Trey,Lyles
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,Shelvin,Mack
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,Raul,Neto
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,Tibor,Pleiss
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Jeff,Withey

In [201]:
nbc.columns #copy list of columns then arrange them however you want it.

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary', 'First Name', 'Last Name'],
      dtype='object')

In [208]:
nbc=nbc[['Name', 'First Name', 'Last Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight','College', 'Salary']]
nbc

,Name,First Name,Last Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Avery,Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Jae,Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,John,Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,R.J.,Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Jonas,Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Trey,Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Shelvin,Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Raul,Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Tibor,Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Jeff,Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [209]:
#another method to drop(remove) a column without setting it to index
nbc.drop(columns='First Name', inplace= True)
nbc

,Name,Last Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

#### another method to insert columns wherever you want to and not at the end

nbc.insert?
nbc.insert(
    loc: 'int',
    column: 'Hashable',
    value: 'Scalar | AnyArrayLike',
    allow_duplicates: 'bool | lib.NoDefault' = <no_default>,
) -> 'None'

if allow_duplicates is set to false it won't allow a column with same name to be added to the dataframe. if set to true, it alows same name column to be added.

In [211]:
nbc.insert(1, 'First Name', new[0])

In [212]:
nbc

,Name,First Name,Last Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Avery,Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Jae,Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,John,Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,R.J.,Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Jonas,Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Trey,Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Shelvin,Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Raul,Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Tibor,Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Jeff,Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

nbc.drop?
nbc.drop(
    labels: 'IndexLabel' = None,
    *,
    axis: 'Axis' = 0,
    index: 'IndexLabel' = None,
    columns: 'IndexLabel' = None,
    level: 'Level' = None,
    inplace: 'bool' = False,
    errors: 'IgnoreRaise' = 'raise',
) -> 'DataFrame | None'

by default, axis =0, for axis =1, you can write index values as well that you want to drop

In [216]:
a= 1,2,3,4
#automatically creates a tuple.
a

(1, 2, 3, 4)

### Combining Data in Pandas

In [217]:
f= 1,2,5,6,3,7,11,0,4
s= 5,3,2,1,3,9,21,3,1
fs=pd.Series(f)
ss=pd.Series(s)

In [218]:
fs

0     1
1     2
2     5
3     6
4     3
5     7
6    11
7     0
8     4
dtype: int64

In [219]:
ss

0     5
1     3
2     2
3     1
4     3
5     9
6    21
7     3
8     1
dtype: int64

In [220]:
#to combine:
r= fs.combine(ss, lambda x1,x2: x1 if x1>x2 else x2)
r  
#index-wise comparison on the basis of lambda if condition to create a new series

0     5
1     3
2     5
3     6
4     3
5     9
6    21
7     3
8     4
dtype: int64

In [221]:
r1= fs.combine(ss, lambda x1,x2: x1+x2)
r1
#NOTE: SEQUENCE MATTERS HERE. x1 WILL BE FROM THE SERIES BEFORE .combine 
#AND x2 FROM THE SERIES INSIDE BRACKET.

0     6
1     5
2     7
3     7
4     6
5    16
6    32
7     3
8     5
dtype: int64

In [222]:
names=[]
maths=[]
phy=[]
chem=[]
bio=[]
eng=[]
for i in range(10):
    names.append(str(input('Enter name: ')))
    maths.append(float(input('Enter maths marks: ')))
    phy.append(float(input('Enter physics marks: ')))
    chem.append(float(input('Enter chemistry marks: ')))
    bio.append(float(input('Enter bio marks: ')))
    eng.append(float(input('Enter english marks: ')))
rec = {'Names': names, 'Maths': maths, 'Physics': phy, 'Chemistry': chem, 'Biology': bio, 'English': eng}
report= pd.DataFrame(rec)
report

#columns to be added after calculation: Total Marks, Total %, Best 4 %, Grade
#rows to be added after calculation: Class Average, Max score, Min score

Enter name: Ishaan
Enter maths marks: 83
Enter physics marks: 90
Enter chemistry marks: 85
Enter bio marks: 91
Enter english marks: 93
Enter name: Mahi
Enter maths marks: 45
Enter physics marks: 52
Enter chemistry marks: 49
Enter bio marks: 60
Enter english marks: 58
Enter name: Piya
Enter maths marks: 43
Enter physics marks: 39
Enter chemistry marks: 50
Enter bio marks: 44
Enter english marks: 39
Enter name: Shanya
Enter maths marks: 95
Enter physics marks: 97
Enter chemistry marks: 92
Enter bio marks: 95
Enter english marks: 92
Enter name: Rohan
Enter maths marks: 44
Enter physics marks: 43
Enter chemistry marks: 53
Enter bio marks: 43
Enter english marks: 48
Enter name: Karan
Enter maths marks: 87
Enter physics marks: 86
Enter chemistry marks: 84
Enter bio marks: 80
Enter english marks: 81
Enter name: Kiara
Enter maths marks: 98
Enter physics marks: 97
Enter chemistry marks: 100
Enter bio marks: 95
Enter english marks: 98
Enter name: Mayank
Enter maths marks: 95
Enter physics marks: 92
Enter chemistry marks: 90
Enter bio marks: 94
Enter english marks: 93
Enter name: Anurag
Enter maths marks: 75
Enter physics marks: 82
Enter chemistry marks: 84
Enter bio marks: 0
Enter english marks: 85
Enter name: Mehar
Enter maths marks: 67
Enter physics marks: 77
Enter chemistry marks: 75
Enter bio marks: 79
Enter english marks: 84

    Names  Maths  Physics  Chemistry  Biology  English
0  Ishaan   83.0     90.0       85.0     91.0     93.0
1    Mahi   45.0     52.0       49.0     60.0     58.0
2    Piya   43.0     39.0       50.0     44.0     39.0
3  Shanya   95.0     97.0       92.0     95.0     92.0
4   Rohan   44.0     43.0       53.0     43.0     48.0
5   Karan   87.0     86.0       84.0     80.0     81.0
6   Kiara   98.0     97.0      100.0     95.0     98.0
7  Mayank   95.0     92.0       90.0     94.0     93.0
8  Anurag   75.0     82.0       84.0      0.0     85.0
9   Mehar   67.0     77.0       75.0     79.0     84.0

In [227]:
list(report['Maths']) #accessing data to use for operations

[83.0, 45.0, 43.0, 95.0, 44.0, 87.0, 98.0, 95.0, 75.0, 67.0]

In [ ]:
#solution
total_marks=[]
for i in range(10):
    total_marks.append(

In [225]:
float(report.loc[1][['Maths']])

C:\Users\HP\AppData\Local\Temp\ipykernel_14100\4120965834.py:1: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  float(report.loc[1][['Maths']])

45.0

### Concatenate Datasets

In [236]:
n1 = nba.loc[45:47].drop(columns = ['Number', 'Weight'])
n2 = nba.loc[132:135]
n3 = nba.tail(2)

In [237]:
n1

,Name,Team,Position,Age,Height,College,Salary
45,Tony Wroten,New York Knicks,SG,23.0,6-6,Washington,167406.0
46,Elton Brand,Philadelphia 76ers,PF,37.0,6-9,Duke,NaN
47,Isaiah Canaan,Philadelphia 76ers,PG,25.0,6-0,Murray State,947276.0

In [238]:
n2

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
132,Mirza Teletovic,Phoenix Suns,35.0,PF,30.0,6-9,242.0,NaN,5500000.0
133,P.J. Tucker,Phoenix Suns,17.0,SF,31.0,6-6,245.0,Texas,5500000.0
134,T.J. Warren,Phoenix Suns,12.0,SF,22.0,6-8,230.0,North Carolina State,2041080.0
135,Alan Williams,Phoenix Suns,15.0,C,23.0,6-8,260.0,UC Santa Barbara,83397.0

In [239]:
n3

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [240]:
frame = [n1,n3,n2]
n132 = pd.concat(frame)
n132
#OBSERVE how number and weight columns are at the end because n1 was the 
#first in order of concatenation which did not have these columns

,Name,Team,Position,Age,Height,College,Salary,Number,Weight
45,Tony Wroten,New York Knicks,SG,23.0,6-6,Washington,167406.0,NaN,NaN
46,Elton Brand,Philadelphia 76ers,PF,37.0,6-9,Duke,NaN,NaN,NaN
47,Isaiah Canaan,Philadelphia 76ers,PG,25.0,6-0,Murray State,947276.0,NaN,NaN
455,Tibor Pleiss,Utah Jazz,C,26.0,7-3,NaN,2900000.0,21.0,256.0
456,Jeff Withey,Utah Jazz,C,26.0,7-0,Kansas,947276.0,24.0,231.0
132,Mirza Teletovic,Phoenix Suns,PF,30.0,6-9,NaN,5500000.0,35.0,242.0
133,P.J. Tucker,Phoenix Suns,SF,31.0,6-6,Texas,5500000.0,17.0,245.0
134,T.J. Warren,Phoenix Suns,SF,22.0,6-8,North Carolina State,2041080.0,12.0,230.0
135,Alan Williams,Phoenix Suns,C,23.0,6-8,UC Santa Barbara,83397.0,15.0,260.0

In [242]:
frame1= [n3,n2,n1]
n321 = pd.concat(frame1)
n321

#here columns are arragned according to n3 since it is first in order

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
132,Mirza Teletovic,Phoenix Suns,35.0,PF,30.0,6-9,242.0,NaN,5500000.0
133,P.J. Tucker,Phoenix Suns,17.0,SF,31.0,6-6,245.0,Texas,5500000.0
134,T.J. Warren,Phoenix Suns,12.0,SF,22.0,6-8,230.0,North Carolina State,2041080.0
135,Alan Williams,Phoenix Suns,15.0,C,23.0,6-8,260.0,UC Santa Barbara,83397.0
45,Tony Wroten,New York Knicks,NaN,SG,23.0,6-6,NaN,Washington,167406.0
46,Elton Brand,Philadelphia 76ers,NaN,PF,37.0,6-9,NaN,Duke,NaN
47,Isaiah Canaan,Philadelphia 76ers,NaN,PG,25.0,6-0,NaN,Murray State,947276.0

In [247]:
#another way is appending
n12 = n1.append(n2)  
#shows: 'DataFrame' object has no attribute 'append'
#but if it works, it can only concatenate 2 datasets.

AttributeError: 'DataFrame' object has no attribute 'append'

maths topics:
calculus: integration and differentiation
probability 
statistics